@tailwind base;

@layer base {
  @font-face {
    font-family: 'DIN';
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/DIN-Light.otf') format('opentype');
  }

  @font-face {
    font-family: 'DIN';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/DIN-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'DIN';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/DIN-Medium.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'DIN';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/DIN-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'DIN';
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/DIN-Black.otf') format('opentype');
  }

  html {
    font-size: 16px;
  }
  
  body {
    font-family: "Din", "Helvetica Neue", sans-serif;
    background-color: #101010;
    color: white;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;
